## Introdução ao Pandas

Pandas Series

In [ ]:
import pandas as pd
import numpy as np

labels = ['a', 'b', 'c']
dados = [10, 20, 30]
# Criando uma series com duas listas
s1 = pd.Series(index=labels, data=dados)

#Criando uma series com um dicionario
s2 = pd.Series({'a':10, 'c':50, 'd':80})

print(s1)
print(type(s1))

# Chamando um valor da Series
print(s1['b'])

# Operacoes entre series
print(s1 + s2)

print(s1.add(s2, fill_value=0))

# Acessar apenas o que precisamos
print(s1[['a', 'c']])

a    10
b    20
c    30
dtype: int64
<class 'pandas.core.series.Series'>
20
a    20.0
b     NaN
c    80.0
d     NaN
dtype: float64
a    20.0
b    20.0
c    80.0
d    80.0
dtype: float64
a    10
c    30
dtype: int64

In [8]:
# Condicionais no Pandas (identico ao NumPy)
print(s1 > s1.mean())
print(s1[s1 > s1.mean()])

a    False
b    False
c     True
dtype: bool
c    30
dtype: int64

Pandas DataFrames

In [16]:
# Plantando uma semente aleatoria
np.random.seed(10)

# Criando um DataFrame
df = pd.DataFrame(index=['A', 'B', 'C', 'D', 'E'],
                  columns=['W', 'X', 'Y', 'Z'],
                  data=np.random.randint(1, 50, [5, 4]))
print(df)

# Slicing com multiplas colunas
print(df[['W', 'Z']])

# Acessando um elemento do DataFrame
print(df['X']['B']) # coluna seguido de linha

# Fazendo Slicing com loc() ou iloc()
# Slicing com loc()
print(df.loc[['A', 'B'],['W', 'X', 'Z']])
#Slicing com iloc()
print(df.iloc[0:2, :])

    W   X   Y   Z
A  10  37  16   1
B  29  26  30  49
C  30   9  10   1
D  43  41  37  17
E  37  48  12  25
    W   Z
A  10   1
B  29  49
C  30   1
D  43  17
E  37  25
26
    W   X   Z
A  10  37   1
B  29  26  49
    W   X   Y   Z
A  10  37  16   1
B  29  26  30  49

Import de Dados no Pandas

In [ ]:
import numpy as np
import pandas as pd

df = pd.read_csv('paises.csv', delimiter=';')
print(df.columns)
print(df.head(3)) 
print(df.tail(3))

Index(['Country', 'Region', 'Population', 'Area (sq. mi.)',
       'Pop. Density (per sq. mi.)', 'Coastline (coast/area ratio)',
       'Net migration', 'Infant mortality (per 1000 births)',
       'GDP ($ per capita)', 'Literacy (%)', 'Phones (per 1000)', 'Arable (%)',
       'Crops (%)', 'Other (%)', 'Climate', 'Birthrate', 'Deathrate',
       'Agriculture', 'Industry', 'Service'],
      dtype='object')
        Country                               Region  Population  \
0  Afghanistan         ASIA (EX. NEAR EAST)             31056997
1      Albania   EASTERN EUROPE                          3581655
2      Algeria   NORTHERN AFRICA                        32930091

   Area (sq. mi.)  Pop. Density (per sq. mi.)  Coastline (coast/area ratio)  \
0          647500                        48.0                          0.00
1           28748                       124.6                          1.26
2         2381740                        13.8                          0.04

   Net migration  Infant mortality (per 1000 births)  GDP ($ per capita)  \
0          23.06                              163.07                 700
1          -4.93                               21.52                4500
2          -0.39                               31.00                6000

   Literacy (%)  Phones (per 1000)  Arable (%)  Crops (%)  Other (%)  Climate  \
0          36.0                3.2       12.13       0.22      87.65      1.0
1          86.5               71.2       21.09       4.42      74.49      3.0
2          70.0               78.1        3.22       0.25      96.53      1.0

   Birthrate  Deathrate  Agriculture  Industry  Service
0      46.60      20.34        0.380     0.240    0.380
1      15.11       5.22        0.232     0.188    0.579
2      17.14       4.61        0.101     0.600    0.298
       Country                               Region  Population  \
224     Yemen   NEAR EAST                              21456188
225    Zambia   SUB-SAHARAN AFRICA                     11502010
226  Zimbabwe   SUB-SAHARAN AFRICA                     12236805

     Area (sq. mi.)  Pop. Density (per sq. mi.)  Coastline (coast/area ratio)  \
224          527970                        40.6                          0.36
225          752614                        15.3                          0.00
226          390580                        31.3                          0.00

     Net migration  Infant mortality (per 1000 births)  GDP ($ per capita)  \
224            0.0                               61.50                 800
225            0.0                               88.29                 800
226            0.0                               67.69                1900

     Literacy (%)  Phones (per 1000)  Arable (%)  Crops (%)  Other (%)  \
224          50.2               37.2        2.78       0.24      96.98
225          80.6                8.2        7.08       0.03      92.90
226          90.7               26.8        8.32       0.34      91.34

     Climate  Birthrate  Deathrate  Agriculture  Industry  Service
224      1.0      42.89       8.30        0.135     0.472    0.393
225      2.0      41.00      19.93        0.220     0.290    0.489
226      2.0      28.01      21.84        0.179     0.243    0.579

In [7]:
df.head(3)

,Country,Region,Population,Area (sq. mi.),Pop. Density (per sq. mi.),Coastline (coast/area ratio),Net migration,Infant mortality (per 1000 births),GDP ($ per capita),Literacy (%),Phones (per 1000),Arable (%),Crops (%),Other (%),Climate,Birthrate,Deathrate,Agriculture,Industry,Service
0,Afghanistan,ASIA (EX. NEAR EAST),31056997,647500,48.0,0.00,23.06,163.07,700,36.0,3.2,12.13,0.22,87.65,1.0,46.60,20.34,0.380,0.240,0.380
1,Albania,EASTERN EUROPE,3581655,28748,124.6,1.26,-4.93,21.52,4500,86.5,71.2,21.09,4.42,74.49,3.0,15.11,5.22,0.232,0.188,0.579
2,Algeria,NORTHERN AFRICA,32930091,2381740,13.8,0.04,-0.39,31.00,6000,70.0,78.1,3.22,0.25,96.53,1.0,17.14,4.61,0.101,0.600,0.298

In [8]:
df.tail(3)

,Country,Region,Population,Area (sq. mi.),Pop. Density (per sq. mi.),Coastline (coast/area ratio),Net migration,Infant mortality (per 1000 births),GDP ($ per capita),Literacy (%),Phones (per 1000),Arable (%),Crops (%),Other (%),Climate,Birthrate,Deathrate,Agriculture,Industry,Service
224,Yemen,NEAR EAST,21456188,527970,40.6,0.36,0.0,61.50,800,50.2,37.2,2.78,0.24,96.98,1.0,42.89,8.30,0.135,0.472,0.393
225,Zambia,SUB-SAHARAN AFRICA,11502010,752614,15.3,0.00,0.0,88.29,800,80.6,8.2,7.08,0.03,92.90,2.0,41.00,19.93,0.220,0.290,0.489
226,Zimbabwe,SUB-SAHARAN AFRICA,12236805,390580,31.3,0.00,0.0,67.69,1900,90.7,26.8,8.32,0.34,91.34,2.0,28.01,21.84,0.179,0.243,0.579

Salvando um Novo Dataset

In [ ]:
# Calcular a % da população de cada país no planeta

total_population = np.sum(df['Population'])
print(total_population)

# Calculando a porcentagem de cada pais
seriesPercPopulation = (df['Population']/total_population)*100
print(seriesPercPopulation)

# Criando uma nova coluna no dataset
df['% Population'] = np.round(seriesPercPopulation, 3)

# Gerando um novo arquivo com a coluna nova
df.to_csv('paises2.csv', sep=';')

6524044551
0      0.476039
1      0.054899
2      0.504750
3      0.000886
4      0.001091
         ...
222    0.037714
223    0.004185
224    0.328879
225    0.176302
226    0.187565
Name: Population, Length: 227, dtype: float64

In [14]:
df = pd.read_csv('paises2.csv', delimiter=';')

# Pegando os 6 países mais populosos do planeta
print(df.nlargest(6, '% Population'))

     Unnamed: 0         Country                               Region  \
42           42          China         ASIA (EX. NEAR EAST)
94           94          India         ASIA (EX. NEAR EAST)
214         214  United States   NORTHERN AMERICA
95           95      Indonesia         ASIA (EX. NEAR EAST)
27           27         Brazil               LATIN AMER. & CARIB
156         156       Pakistan         ASIA (EX. NEAR EAST)

     Population  Area (sq. mi.)  Pop. Density (per sq. mi.)  \
42   1313973713         9596960                       136.9
94   1095351995         3287590                       333.2
214   298444215         9631420                        31.0
95    245452739         1919440                       127.9
27    188078227         8511965                        22.1
156   165803560          803940                       206.2

     Coastline (coast/area ratio)  Net migration  \
42                           0.15          -0.40
94                           0.21          -0.07
214                          0.21           3.41
95                           2.85           0.00
27                           0.09          -0.03
156                          0.13          -2.77

     Infant mortality (per 1000 births)  GDP ($ per capita)  ...  Arable (%)  \
42                                24.18                5000  ...       15.40
94                                56.29                2900  ...       54.40
214                                6.50               37800  ...       19.13
95                                35.60                3200  ...       11.32
27                                29.61                7600  ...        6.96
156                               72.44                2100  ...       27.87

     Crops (%)  Other (%)  Climate  Birthrate  Deathrate  Agriculture  \
42        1.25      83.35      1.5      13.25       6.97        0.125
94        2.74      42.86      2.5      22.01       8.18        0.186
214       0.22      80.65      3.0      14.14       8.26        0.010
95        7.23      81.45      2.0      20.34       6.25        0.134
27        0.90      92.15      2.0      16.56       6.17        0.084
156       0.87      71.26      1.0      29.74       8.23        0.216

     Industry  Service  % Population
42      0.473    0.403        20.140
94      0.276    0.538        16.789
214     0.204    0.787         4.575
95      0.458    0.408         3.762
27      0.400    0.516         2.883
156     0.251    0.533         2.541

[6 rows x 22 columns]

Agrupando de Dados no Pandas

In [17]:
# Agrupando os dados por região
group_region = df.groupby('Region')
print(group_region.count()['Country'])
print(group_region.sum()['Population'])

Region
ASIA (EX. NEAR EAST)                   28
BALTICS                                 3
C.W. OF IND. STATES                    12
EASTERN EUROPE                         12
LATIN AMER. & CARIB                    45
NEAR EAST                              16
NORTHERN AFRICA                         6
NORTHERN AMERICA                        5
OCEANIA                                21
SUB-SAHARAN AFRICA                     51
WESTERN EUROPE                         28
Name: Country, dtype: int64
Region
ASIA (EX. NEAR EAST)                   3687982236
BALTICS                                   7184974
C.W. OF IND. STATES                     280081548
EASTERN EUROPE                          119914717
LATIN AMER. & CARIB                     561824599
NEAR EAST                               195068377
NORTHERN AFRICA                         161407133
NORTHERN AMERICA                        331672307
OCEANIA                                  33131662
SUB-SAHARAN AFRICA                      749437000
WESTERN EUROPE                          396339998
Name: Population, dtype: int64

Criando e Aplicando Métodos Cusomizados no Pandas

In [21]:
# Criando um metodo no python
def tenpercent(x):
    return x*0.9

# Pegando a taxa de mortalidade
taxa_mortalidade = df['Deathrate']

# Aplicando a funcao customizada em uma series
taxa_mortalidade2 = df['Deathrate'].apply(tenpercent)

# Juntando duas series
print(pd.concat([taxa_mortalidade, taxa_mortalidade2], axis=1))

     Deathrate  Deathrate
0        20.34     18.306
1         5.22      4.698
2         4.61      4.149
3         3.27      2.943
4         6.25      5.625
..         ...        ...
222       3.92      3.528
223       0.00      0.000
224       8.30      7.470
225      19.93     17.937
226      21.84     19.656

[227 rows x 2 columns]