### Exercícios - Capítulo 4

Baseado nos commandos que vimos até o momento e no Dataset fornecido, crie scripts em Python que respondam às seguintes perguntas:

In [1]:
import numpy as np

# Abrir dataset
dataset = np.loadtxt('space.csv', delimiter=';', dtype='str', encoding='utf-8')

# Mostrar tipo informação de cada coluna
print(dataset[0,:])

['\ufeffNum' 'Company Name' 'Location' 'Datum' 'Detail' 'Status Rocket'
 ' Cost' 'Status Mission']

1. Apresente a porcentagem de missões que deram certo

In [2]:
# Separar status das missões e quantas vezes se repete
statusMissoes, qtdStatusMissoes = np.unique(dataset[1:,7], return_counts=True)

# Calcular total de missões que deram certo e sua porcentagem
qtdSucesso = qtdStatusMissoes[np.char.find(statusMissoes, 'Success') >= 0][0]
totalMissoes = qtdStatusMissoes.sum()
porSucesso = qtdSucesso/totalMissoes * 100

print(f'A porcentagem de missões que deram certo é de {porSucesso:.2f}%.')

A porcentagem de missões que deram certo é de 89.71%.

2. Qual a media de gastos de uma missão especial se baseando em missões que possuam valores disponíveis (> 0)?

In [3]:
# Separar gastos (cost)
gastos = np.asarray(dataset[1:, 6], dtype=float)
gastos = gastos[gastos > 0] #apenas valores disponíveis

# Calcular media dos gastos
mediaGastos = gastos.mean()

print(f'A média dos gastos é {mediaGastos:.2f}')

A média dos gastos é 153.79

3. Encontre quantas missões espaciais neste Dataset foram realizadas pelos Estados Unidos (EUA)

In [4]:
# Separar locais
locais = dataset[1:, 2]

# Separar missões dos EUA (USA)
usa = locais[np.char.find(locais, 'USA') >= 0]
qtd_usa = len(usa) #qtd das missões dos EUA

print(f'Os Estados Unidos (EUA) realizaram {qtd_usa} missões espaciais.')

Os Estados Unidos (EUA) realizaram 1344 missões espaciais.

4. Encontre qual foi a missão mais cara realizada pela empresas “SpaceX”

In [5]:
# Separar missões da SpaceX
spaceX = dataset[1:][np.char.find(dataset[1:, 1], 'SpaceX') >= 0]

# Buscar nome da missão mais cara
indiceMissao = np.asarray(spaceX[:,6], dtype=float).argmax() #indice da missão mais cara
missaoSpaceX = spaceX[indiceMissao][4]


print('A missão mais cara da SpaceX foi a', missaoSpaceX)

A missão mais cara da SpaceX foi a Falcon Heavy | STP-2

5. Mostre o nome das empresas que já realizaram missões espaciais, juntamente com suas respectivas quantidades de missões (use o for no final para mostrar as informações)

In [6]:
# Separar nomes das empresas e qtds de missões
empresas, qtdMissoes = np.unique(dataset[1:, 1], return_counts= True)

for count in range(0, len(empresas)):
    print('A empresa {} realizou {} missões.'.format(empresas[count], qtdMissoes[count]))

A empresa AEB realizou 3 missões.
A empresa AMBA realizou 8 missões.
A empresa ASI realizou 9 missões.
A empresa Arianespace realizou 279 missões.
A empresa Arm??e de l'Air realizou 4 missões.
A empresa Blue Origin realizou 12 missões.
A empresa Boeing realizou 136 missões.
A empresa CASC realizou 251 missões.
A empresa CASIC realizou 5 missões.
A empresa CECLES realizou 4 missões.
A empresa CNES realizou 8 missões.
A empresa Douglas realizou 1 missões.
A empresa EER realizou 1 missões.
A empresa ESA realizou 13 missões.
A empresa Eurockot realizou 13 missões.
A empresa ExPace realizou 10 missões.
A empresa Exos realizou 4 missões.
A empresa General Dynamics realizou 251 missões.
A empresa IAI realizou 11 missões.
A empresa ILS realizou 46 missões.
A empresa IRGC realizou 1 missões.
A empresa ISA realizou 13 missões.
A empresa ISAS realizou 30 missões.
A empresa ISRO realizou 76 missões.
A empresa JAXA realizou 7 missões.
A empresa KARI realizou 3 missões.
A empresa KCST realizou 5 missões.
A empresa Khrunichev realizou 1 missões.
A empresa Kosmotras realizou 22 missões.
A empresa Land Launch realizou 7 missões.
A empresa Landspace realizou 1 missões.
A empresa Lockheed realizou 79 missões.
A empresa MHI realizou 84 missões.
A empresa MITT realizou 7 missões.
A empresa Martin Marietta realizou 114 missões.
A empresa NASA realizou 203 missões.
A empresa Northrop realizou 83 missões.
A empresa OKB-586 realizou 2 missões.
A empresa OneSpace realizou 1 missões.
A empresa RAE realizou 2 missões.
A empresa RVSN USSR realizou 1777 missões.
A empresa Rocket Lab realizou 13 missões.
A empresa Roscosmos realizou 55 missões.
A empresa SRC realizou 3 missões.
A empresa Sandia realizou 1 missões.
A empresa Sea Launch realizou 36 missões.
A empresa SpaceX realizou 100 missões.
A empresa Starsem realizou 1 missões.
A empresa ULA realizou 140 missões.
A empresa US Air Force realizou 161 missões.
A empresa US Navy realizou 17 missões.
A empresa UT realizou 5 missões.
A empresa VKS RF realizou 201 missões.
A empresa Virgin Orbit realizou 1 missões.
A empresa Yuzhmash realizou 2 missões.
A empresa i-Space realizou 1 missões.